.container{
    height: 100px;
    width: 100px;
    background-color: orange;
} 

.container:hover {
    background-color: blue;
}

.container:active {
    background-color: green;
}
input:focus {
    width: 200px;
    padding: 10px;
    border: 2px solid #ccc;
}
