/*
    h1+p is a adjacent selector and only one below p element will be selected.


h1 + p{
    color:red;  
}

*/

/* 
    h1~p is a general sibling selector and all below p elements will be selected 
    that are in the same level of hierarchy as h1. Suppose there is div tag and 
    inside it p is there, then it will not be selected.
*/
/* h1 ~ p{
    color:blue;
} */

ul > li{
    background-color:green;
}